<ng-container *ngIf="activeUser && room">
  <div class="right-section">
    <div class="message" id="scrollElem">
      <ul *ngIf="room.messages.length">
        <ng-container *ngFor="let message of room.messages">
          <app-chat-message [user]="user" [message]="message"></app-chat-message>
        </ng-container>
      </ul>
    </div>
  </div>
  <div class="chat-section">
    <div class="right-section-bottom">
      <img *ngIf="typing" class="typeing" src="assets/images/lg.messenger-typing-preloader.gif">
      <app-send-message [user]="user"  [roomId]="room.id" (keydownEm)="onKeyDown()" (setRoom)="setRoomChat($event)"></app-send-message>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!room && !activeUser">
  <p class="chooseRom" >Please choose chat room</p>
</ng-container>
